<section id="portal" class="container-sm my-5 text-center">
  <h5>🎰</h5>
  <h3>Wheel of Stuff To Do</h3>
  <p class="lead">Let RNGesus help you figure out what to do.</p>
  <section class="section">
    <a href="/login" class="btn btn-outline-secondary">Log In</a> <a href="/signup" class="btn btn-primary">Sign Up</a>
  </section>
</section>